body, html {
    background-color: Thistle;
}

#game {
    display: none; 
    
}

#startBtn {
    padding: 10px 40px;
    font-size: 36px;
    position: fixed;
    top: 30%;
    left: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
    transition: 0.2s;
}

#startBtn:hover {
    transform: scale(1.1); 
}

#startBtn:active {
    transform: scale(1.0); 
}
  

.cards {
    position: relative;
    height: 150px;
    width: 100px;
    background-color: white;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 2px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    transition: 0.15s;    
    
}
.topTxt{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10%;
}

.bottomTxt{

    position: absolute;
    bottom: 0;
    right: 0;
    /* USE THIS FOR COMPATABILITY ISSUES IF NEEDED
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1); */
    transform: scale(1, -1);
    margin: 0;
    padding: 10%;
}

.cardSuit {
    margin: 0;
    padding: 10%; /* You can adjust or remove this for spacing */
    position: absolute;
    top: 50%;
 