body, html {
    background-color: Moccasin;
    font-style: normal;
}

.cards {
    height: 150px;
    width: 100px;
    background-color: white;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    transition: 0.15s;
    position: relative;
}


.cards:hover {
    transform: scale(1.1); 
}

.cards:active { 
    transform: scale(1.5); 
    transform: translate(0, -20px);
}

#hand {
    display: flex;
    height: 200px;
    width: 1000px;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 10%;
    width: 100%;
}

#discardPile {
    height: 150px;
    width: 100px;

    position: fixed;
    left: 80%;
    bottom: 45%;
    transition: 0.2s;
}

.discardPilecard {
    position: absolute; /* Stack on top of each other */
    top: 0; /* Base position */
    left: 0;
    transition: 0.5s;
}

.discardPilecard:hover {
    z-index: 10;
    transform: scale(1.5); 
}


.stats {
    position: fixed;
    left: 5%;
    bottom: 80%;
    font-size: 20px;
    width: 100%;
    display: block;
}

.stats b {
    display: block;
    margin-bottom: 10px; /* Optional spacing between lines */
}

